html {
    background-image: url("/IMAGES/star-background-1.gif");
    font-family: 'Lucida Console';
    text-align: center;
}

.landing-page {
    margin: auto;
    color: white;
    background: transparent;
}

.index-content {
    background-color: blueviolet;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.index-text {
    text-align: justify;
}

.container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

img {
    border: 5px solid black;
    border-radius: 10px;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

a:visited {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;;
}