html {
    background-image: url("/IMAGES/star-background-1.gif");
    text-align: center;
}

.landing-page {
    color: white;
    background: transparent;
}

.index-content {
    background-color: blueviolet;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.index-text {
    text-align: justify;
}

.container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.avatar-wrapper {
    display:flex;
    justify-content: flex-end;
    padding-left: 80px;
}

.avatar {
    border: 5px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transform: translateX(-20px);
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-bar {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

a {
    color: white;
}

a:visited {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
}

.social-icons a:hover {
    color: purple;
}

.ko-fi {
    margin-top: 0;
}